* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* background work */
.background {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0px;

}

.banner {
    margin-left: 70%;
    padding-top: 16%;
    padding-right: 5%;
    font-weight: 300;
    font-size: 30px;
    color: #151414;
}

.font {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.button-style {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 30px;
    height: 64px;
    border-radius: 5px;
    background: #24c9bb;
    margin-left: 300px;
    margin-top: 40px;
}

/* body work */

.scroll{
    text-align: center;
    margin-top: 50px;
    color :crimson;
}
.body {
    display: flex;
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.body-font {
    margin-left: 15%;
    margin-top: 10%;
    font-weight: 700;
    font-size: 40px;
    padding-right: 17%;
}

.list-font {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

.middle-back {
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;

    background-repeat: no-repeat;
    height: 400px;
    background-blend-mode: darken;
    
    width: 80%;
    margin-left: 15%;
    background-size: 100%;  
}

.middle-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 9%;
    padding-left: 80px;
    padding-right: 60%;
}

.middle-button {

    width: 160px;
    height: 64px;
    margin-left: 90px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;

}

/* logos part */
.skills-container {
    display: flex;
    gap: 200px;
    margin-left: 14%;
    margin-top: 60px;
}

.logo {
    text-align: center;
    margin-left: 40px;
    margin-bottom: 10%;

}

.logo-gap {
    padding: 10px;
}

.title {
    font-weight: 700px;
    font-size: 30px;
    color: #151414;
}

.para {
    font-weight: 500;
    font-size: 25px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 10px;
}

/* dark box */
.dark-box {
    height: 577px;
    background: #151414;
    margin: 20px auto;
    margin-top: 100px;
    display: block;
    display: flex;

}

.info {
    margin-left: 12%;
    margin-top: 170px;
    padding-right: 40%;
}

.font-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.font-color {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.input {
    margin-top: 10%;
    margin-right: 10%;
}

.last-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.last-input {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 58px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    background-color: #151414;
    margin-top: 5px;
}

.last-button {
    background: #FFFFFF;
    border-radius: 8px;
    width: 170.11px;
    height: 64px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    color: #1fabce
}